* { /* Resets and Default styling */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
}

/*Mobile Design */

#box {
    border: 2px solid black;
        height: 300px;
}

#box > h1 {
    background-color: dodgerblue;
}

/*larger phone */

@media (min-width: 400px) {
#box {
    border: 2px dashed green;
}

#box > h1 {
    background-color: firebrick;
}
}

/*tablet*/

@media only screen and (min-width: 650px) {
    #box {
        border: 5px dashed purple;
    }
    
    #box > h1 {
        background-color: cornflowerblue;
    }
}

/*setting a range*/

@media only screen and (min-width: 650px) and (max-width: 700px){
    body {
        background-color: yellow;
    }
}

