@font-face {
  font-family: 'verdemoderna';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/verdemoderna.woff);
}


/*for mobile devices*/
*{
  box-sizing: border-box;
}

body {
  /* border: red dotted 5px; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

header{
  /* border: dotted aqua 8px; */
  opacity: 0.8;
  position:static;
  background-color: #212529;
  background-position: center;
  padding: 10px;
  color: white;
  background-image: url('./images/home-bg.jpg');
  background-size: cover;
  /*the filter makes the whole thing darker i need to only darken the  photo!*/
  filter: brightness(85%);
}

.header--content {
  /* border: solid rgb(255, 185, 7); */
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.header--title{
  font-size: 80px;
  margin-bottom: 0;
}

.header--subtitle{
  font-size: 24px;
}
.nav--container {
  /* border: dotted purple 6px; */
  display: flex;
  flex-direction: row;
  max-width: 100%; 
  list-style: none;  
  padding-left: 0;
  justify-content: space-between;
  font-weight: bold;
  font-size: 12px;
}

.nav--title{
  /* border: solid green ; */
  font-size: 20px;
}


main {
  /* border: dotted green 6px; */
  margin: auto;
  width: 50%;
}


.blog--title {
  font-size: 36px;
  /* this needs to be bolder*/
  font-weight: bold;
}

.blog--subtitle {
  font-size: 24px;
  /* this needs to be thinner */
  font-weight: normal;
}

/* blog--author section needs  lora font */
.blog--author--date{
  font-family: 'Poppins', serif;
  font-style: italic;
  font-size:18px;
  color: #6c757d;
}

.blog--author {
  font-style: normal;
  color: black;
}

/*how do i move the stinking button?*/
.button {
  background: #0085a1;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 14px;
  border: none;
/*diff way to do this w/o hard coding*/
  margin-left: 375px;
}

footer {
  /* border: dotted blue 6px; */
  margin: auto;
  width: 50%;
  

  /* display: flex;
  flex-direction: row;
  list-style: none;  
  padding-left: 0;
  justify-content: space-between;
  font-weight: bold;
  font-size: 12px; */
}

.social--media{
  /* border: solid rgb(255, 183, 0); */
  padding-left: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 50%; 
  margin: auto;
  font-weight: bold;
  font-size: 19px;
}

/* .social--media > li{
  padding: 8px;
} */

.copyright {
  /* border: solid brown; */
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  max-width: 50%; 
  margin: auto;
  font-family: 'Poppins', serif;
  font-style: italic;
  color: #6c757d;
}