html, body {
    margin: 0;
    padding: 0; 
    font-family: "libre";
}

/********** Custom Fonts/Icons **********/
@font-face {
    font-family: 'verdemoderna';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/verdemoderna.woff);
}

@font-face {
    font-family: 'julius';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/JuliusSansOne-Regular.ttf');
}

@font-face {
    font-family: 'libre';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/LibreBaskerville-Regular.ttf');
}



/*for mobile devices*/
.grid-container{
    display: grid;
    font-family: "libre";
    grid-template-columns: repeat(3, autofit);
    grid-template-rows: repeat(11, autofit);
    /* height: 120px; */
}

h1{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

button {
    font-family: 'verdemoderna';
    background: rgba(255,255,255,0.1);
    font-size: 43px;
    margin: 30px;
    color: #ffffff6b;
    background-color: #ffffff29;
    border: none; 
}

h3 {
    margin: 0; 
    font-family: 'julius';
}

h4{
    margin: 0;
    padding: 0;
    font-family: "libre";
    color:#c0d9cb;
    font-weight: normal;
}

ul {
    /* border: solid 3px blueviolet ; */
    list-style-type: none;
    padding: 15px;
    margin: 5px;
    width: fit-content;
    font-family: "julius";
    color: #607476;
}

.ul > li {
    border-bottom: solid 2px #95a0993e;
    padding: 20px;
}

li {
    font-family: "julius";
}

/*styling the authors' sidebar*/
span {
    font-family: "libre";
    font-size: small;
    color: #95a099;
    font-style: italic;    
}

a {
    font-family: "libre";
    font-size: small;
}


.box{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    font-family: "libre";
    color: #325050;
    /* if i remove this then the top-sidebar fits*/ 
    /*line-height: 2; */ 
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/huntington.jpg"), url("./images/contours-opaque.png");
    background-repeat: repeat, no-repeat, repeat;
    background-size: auto, cover, auto;
    color: white;
    margin: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    text-align: center;
    font-family: "julius";
    height: 250px;
}

#logo {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#top-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("http://www.csszengarden.com/214/huntington.jpg");
    background-size: cover; */
    color:#c0d9cb;
    margin: 0px;
    padding-bottom: 15px;
    border-bottom: 0px;
    text-align: center; 
    height:75px;
}

#top-sidebar > h3 {
    color: #ffffff6b;
    background-color: #ffffff29;
    /* border: 2px dotted red;  */
    display: inline;
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#mid-content {
    background-image: url("http://www.csszengarden.com/214/bamboo.png");
    background-color: #c0d9cb;
}

#content-source {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("http://www.csszengarden.com/214/koi.jpg"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("./images/contours-opaque.png") ;
    background-color: #134347;
    font-family: "libre";
    color: #95a099;
    text-align: center;
    height: 250px;
    font-size: 25px;
    background-repeat: repeat, no-repeat, repeat;
    background-size: auto, cover, auto;
}

#content-source > a {
    color: red;
    font-size: 25px;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #134347;
    text-align: center;
    height: 100px;
    font-family: 'verdemoderna';
    font-size: 43px;
    color: #ffffff6b;
    /* margin: 30px; */
    /* background-color: #ffffff29; */
    /* background: rgba(255,255,255,0.1); */
}

#authors {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #e5ede8 ;
    padding-top: 25px;
    grid-row:  8/9;
    grid-column: 1/2;
}

#menu-sidebar {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-image: url("http://www.csszengarden.com/214/bamboo.png");
    background-color: #b1cdbd;
    grid-row: 10/11;
    grid-column: 1/2;
}

#empty-sidebar {
    background-color: #e5ede8;
    grid-row: 9/10;
    grid-column: 1/2;
}

/*for laptop*/
@media screen and (min-width: 768px) { 
    .box{
        /* padding-left: 100px;
        /* padding-right: 100px; */
        padding-top: 25px; 
        font-family: "libre";
        color: #325050;
        line-height: 2; 
    }
    
    #header{
        grid-column: 1 / 3;
        grid-row: 1/2;
        display: flex;      
    }

   #top-sidebar {
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #top-content {
        grid-column: 1/2;
        grid-row: 2/3;
    /* color: red; */
    }
    
    #authors {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 0px;
    }
    
    #mid-content {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    #bottom-content {
        grid-column: 1/2;
        grid-row:4/5;
    }
    
    #content-source {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    #social {
        grid-column: 1/3;
        grid-row: 6/7;
    }
    
    #authors {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    #menu-sidebar {
        grid-column: 2/3;
        grid-row: 3/4;
        padding-left: 0px;
    }

    #empty-sidebar {
        grid-column: 2/3;
        grid-row: 4/5;
    } 
    
}