html, body {
    margin: 0;
    padding: 0; 
}

/*for mobile devices*/

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, autofit);
    grid-template-rows: repeat(11, autofit);
    /* height: 120px; */
}

ul {
    border: solid 3px blueviolet ;
    padding-left: 0px;
    width: fit-content;
}

.box{
    border: dotted red;
    padding-left: 100px;
    padding-right: 100px;
    font-size: larger;
}

/* 
.sidebar {
    width: fit-content;
} */

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("http://www.csszengarden.com/214/huntington.jpg");
    background-size: cover;
    color: white;
    margin: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    text-align: center;
    /* grid-row: 1/10;
    grid-column: 1/2; */
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
}

#top-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("http://www.csszengarden.com/214/huntington.jpg");
    background-size: cover;
    color: white;
    margin: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    text-align: center; 
}

h1{
    margin: 0;
    padding: 0;
}

h4{
    margin: 0;
    padding: 0;
}

#mid-content {
    background-image: url("http://www.csszengarden.com/214/bamboo.png");
    background-color: #9ecbab;
    /* grid-row: 4/10; */
}
/* 
#content-bottom {
    grid-row: 5/10;
} */

#content-source {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("http://www.csszengarden.com/214/koi.jpg");
    background-color: #134347;
    color: white;
    text-align: center;
    height: 150px;
    /* grid-row: 6/10; */
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #134347;
    color: white;
    text-align: center;
    height: 100px;
   
}

#authors {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8e4dc;
    grid-row:  8/9;
    grid-column: 1/2;
}

#menu-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("http://www.csszengarden.com/214/bamboo.png");
    background-color: #9ecbab;
    grid-row: 10/11;
    grid-column: 1/2;
}

#empty-sidebar {
    background-color: #d8e4dc;
    grid-row: 9/10;
    grid-column: 1/2;
}

/*for laptop*/
@media screen and (min-width: 768px) { 
    #top-content {
        grid-column: 1/2;
        grid-row: 2/3;
    /* color: red; */
    }
    
    #authors {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    #mid-content {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    #bottom-content {
        grid-column: 1/2;
        grid-row:4/5;
    }
    
    #content-source {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    #social {
        grid-column: 1/3;
        grid-row: 6/7;
    }
    
    #top-sidebar {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #authors {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #menu-sidebar {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #empty-sidebar {
        grid-column: 2/3;
        grid-row: 4/5;
    } 
}