/**/
@font-face{
  /*define font family, define source*/
  font-family: "Karla";
  src:url("./assets/fonts/Karla-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
}

body{
  font-family: "Karla", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  /* isn't showing up--have had issues with backgrounds in css */
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image{
  height: 100%;
  margin-right: 6px;
}

.header--project{
  /* try to get accustomed to using rem. to figure rem from pixels /16 (12/16 = .75rem) */
  font-size: .75rem; 
  font-weight: 500;
  /* font-style: italic; */
  margin-left: auto;
}

.form{
  display: grid;
  /* need two 40 px rows  divide columns by fraction unit*/
  grid-template: 40px 40px / 1fr 1fr;
}

.form--input{
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  margin: 10px;
}

.form--button{
  /* need button to span the width of the page*/
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor:pointer;
}

.meme--image{
  max-width: 100%;
}
