/* box transition colors 
purple #a8026f
orange #e76838
yellow # fbf9af
red #db2d43
teal #70adb5
darkteal #407088

*/ 

body {
    background-color: #10431c ;
}
.boxes {
    border: solid 1px black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: #00fd11;
    /* transition: background-color 2s linear, width 300px 3s linear; */
}

.boxes:hover {
 width: 300px;
 transition: background-color 2s linear;
 transition: 2s linear;   
}

#box1:hover {
    background-color:#a8026f ;
    box-shadow: 10px 10px #05e2ff ;
}
#box2:hover {
    background-color: #ff3c00;
    box-shadow: 10px 10px #2200fd;
    border-radius: 75px;
}
#box3:hover {
    background-color: #fff700;
    box-shadow: 10px 10px #ff53c0 ;
}
#box4:hover {
    background-color: #db3d43;
    box-shadow: 10px 10px #8400e3 ;

}
#box5:hover {
    background-color: #05e2ff;
    box-shadow: 10px 10px #a8026f ;

}
#box6:hover {
    background-color: #8400e3;
    box-shadow: 10px 10px #00e39b ;
}

