/* @font-face{
    /*define font family, define source
    
    font-family: "Karla";
    src:url("./assets/fonts/Karla-VariableFont_wght.ttf");
    } */

* {
  box-sizing: border-box;
  background-color: rgb(86, 103, 0);
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  padding: 50px;
  background-color: rgb(86, 103, 0);
}

.form {
border-radius: 5px;
/* border: solid black 10px; */
}

.form--input{
  color: black; 
  height: 3em;

}

.form--button{
  grid-column: 1 / -1;
  
}

::placeholder {
  font-style: italic;
  font-size:1em;
  color: black;
  padding: 5px;
}

 .all-things{
  border: red 4px solid;
 }

 .entry{
  border: 5px black solid;
  margin: 14px;
 }

 .entry > p{
  padding: 15px
 }

 img {
  margin: 10px;
  width: 200px;
  border: solid white  4px;
 }