* {
  box-sizing: border-box;
  background-color: rgb(82, 80, 82);
}

.container{
  border: dotted red;
}

.squares--only{
 display: grid;
 grid-template-columns:repeat(2, 1fr) ;
 border: solid yellow;
}

.box {
  height: 200px;
  width: 200px;
  display: inline-block;
  border-radius: 5px;
  margin: 14px;
}

.button{
  background-color: rgb(245, 245, 242);
  color: black;
}