div, button { 
  padding: 5px 10px; 
  margin: 5px 0px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-style {
  display: flex;
  flex-direction: row;
}

button { 
  border: none; 
}

.light-theme {
  background-color: #cfcfcf;
  color: #000;
}

.light-theme > a {
  background-color: #6d0303;
  color: #fff;
  font-weight: 900;
  display: flex;
  /* position: fixed; */
}

.dark-theme {
  background-color: #3a3b3c;
  color: #fff; 
}
.dark-theme > a {
  background-color: #fff;
  color:  #6d0303; 
  font-weight: 900;
  display: flex;
  /* position: fixed; */
}

.link{
  text-align: center;
  padding: 14px;
  margin: 10px;
}