* {
  /* box-sizing: border-box; */
}

body {
  font-family: "Karla", sans-serif;
  background-image: url(./images/emoji.jpg);
}

.container--parent{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}
.container--joke{
  width: 450px;
  height: fit-content;
  background-color: rgba(246, 246, 246, 0.904);
  padding: 15px;
  font-weight: 900;
}
