/* aqua to purple color pallete 

#8ce2ee
#93bae1
#8984d6
#7251b2
#642e7c

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #262626;
  background-image: url(./images/circuit.jpg);
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container {
  display: flex;
  align-items: flex-end;
  border: dotted red;
} */
/* .main--container{
  background: #8ce2eee6;
  padding: 15px;
  border-radius: 5%;
  color: #642e7c;
}

.die--container{
  display: flex;
  flex-direction: row;
  /* border: dotted yellow; 
  padding: 15px;
  height: fit-content;
  align-items: center;
}

.die--number{
  display: flex;
  justify-content: space-around;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid white;
  border-radius: 15%;
  font-weight: bold;
  font-size: x-large;
  height: 50px;
  width: 50px;
  background-color: #642e7c;
  color: #93bae1;
  margin: 10px;
}

.die--number:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.button {
  height: fit-content;
  width: 80px;
  /* border-radius: 15%; 
  font-size: 16px;
  font-weight: 900;  
  margin-left: 10px;
  color: #642e7c;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} */

/* 
.container > button {
  
  border: none;
  cursor: pointer;
  background-color: #737373;
  color: #D9D9D9;
  font-size: 1.5rem;
}

.container > button:hover {
  background-color: #404040;
  color: #D9D9D9;
}

.container > button:focus {
  outline: none;
}

.counter--count {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
}

.counter--plus {
  margin-left: -20px;
}

.counter--minus {
  margin-right: -20px;
  z-index: 1;
} */
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: rgb(219, 229, 32) ;
  }
} */ 
