
body {
    background-color: #392763;
    color: #866ad8;
    font-size: larger;
    display: inline;
}

div {
    border: solid red 3px;
}

#box {
    width: 350px;
    height: 350px
}

#circle {
    display: inline-block;
    margin: 15px;
    width: 350px;
    height: 350px;
    border-radius: 212px;
   
}

button {
    background-color: #d7d781;
    color: #270f36;
    width: fit-content;
    height: 45px;
    font-size: larger;
}