*{
  background-color: rgb(91, 89, 89);
  color: white;
  font-size: x-large;
}

.form{
  background-color: white;
  max-width: fit-content;
}

.text-code{
  margin: 15px;
  width: 700px;
  height: 100px;
  background: black;
}

.angle > li {
  list-style-type: none;
}
.preview-box {
  /* background-color: rgb(200, 255, 0); */
  border: 5px solid black;
  height: 500px;
}
