.parent > p {
    background-color: rgb(230, 253, 20);
}
p {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1f09e2;
}
.dark-coffee {
    border: 6px dashed purple;
}
.medium-coffee {
    border:  5px double black;
}    
.medium-light {
    border: 9px solid black;
    background-color: bisque;
}
